sentence-transformers
weaviate-client
pymilvus
qdrant-client
chromadb
deeplake
faiss-cpu
pyvespa
vald-client-python
psycopg2-binary
pgvector
elasticsearch
opensearch-py
cassandra-driver
redis
mysql-connector-python
clickhouse-connect
numpy
requests
