services:
  opensearch:
    image: opensearchproject/opensearch:2.11.0
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=FJJLGK45!s
      - plugins.security.ssl.http.enabled=false
    ports:
      - "9200:9200"
      - "9600:9600"
