services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - 8123:8123
      - 9000:9000
    environment:
      - CLICKHOUSE_PASSWORD=default
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
