services:
  vespa:
    image: vespaengine/vespa
    container_name: vespa
    ports:
      - 8080:8080
      - 19071:19071
    ulimits:
      memlock: -1
      nofile:
        soft: 65536
        hard: 65536
